<script>

  var XRAY_TYPE_ID = 13;
  var IMAGE_TYPE_ID = 0;

  var images_to_upload = Array();
  var currentUpload = 0;

  // Image Upload class
  function ImageUpload(image, description, type){
    this.image = image;
    this.description = description;
    this.type = type;
    this.xray_type = 0;
  }

  // Handles all the images selected by user
  function handleUpload(input)
  {

    if (input.files){

      for (var i = 0; i < input.files.length; ++i)
      {
        var reader = new FileReader();
        reader.onload = function(e){
          var newImage = new ImageUpload(e.target.result, "", IMAGE_TYPE_ID);
          images_to_upload.push(newImage);
          selectImage(0);
        }
         reader.readAsDataURL(input.files[i]);
      }
    }

    uploadOn();

  }

  function handleDragAndDrop(event)
  {
    event.preventDefault();
    handleUpload(event.dataTransfer);
  }

  function handleDragOver(event)
  {
    event.preventDefault();
  }

  //Save current state of the image (used before changing images in the interface)
  function saveCurrentImage()
  {
    if (currentUpload < 0) return;
    images_to_upload[currentUpload].description = document.getElementById("imageDescription").value;
    images_to_upload[currentUpload].type = document.getElementById("imageType").value;
  }

  function selectImage(i){
    saveCurrentImage();
    currentUpload = i;
    setImageCounter();
    $('#selectedImage').attr('src', images_to_upload[currentUpload].image);
    $('#imageDescription').val(images_to_upload[currentUpload].description);
    setUploadImageType(images_to_upload[currentUpload].type);
  }

  function setUploadImageType(type){
    $('#imageType').val(type);
    handleImageType(document.getElementById("imageType"), document.getElementById("uploadElement"));
  }

  function prevUpload(){
    if (images_to_upload.length <= 1) return;
    if (currentUpload - 1 < 0) {
      c = images_to_upload.length - 1;
    }
    else{
      c = currentUpload - 1;
    }
    selectImage(c);
  }

  function nextUpload(){
    if (images_to_upload.length <= 1) return;
    c = (currentUpload+1) % images_to_upload.length;
    selectImage(c);
  }

  function setImageCounter(){
    document.getElementById("numTotal").innerHTML = images_to_upload.length;
    document.getElementById("numCurrent").innerHTML = currentUpload+1;
  }

  function uploadOn(){
      document.getElementById("uploadOverlay").style.display = "flex";
  }

  function uploadOff(){
    document.getElementById("uploadOverlay").style.display = "none";
  }

  // Clear elements if clicked "Cancel"
  function clearUpload(){
    uploadOff();
    images_to_upload = [];
    currentImage = 0;

  }

  //Checks all images, descriptions and types and post it to server
  // Create hidden inputs to POST image description and image type
  function postUpload()
  {
    var form = document.getElementById("inputForm");
    saveCurrentImage();  // Save last altered image
    for(var i = 0; i < images_to_upload.length; ++i)
    {
      var descr = document.createElement("input");
      descr.type="hidden";
      descr.name = "description";
      descr.value = images_to_upload[i].description;

      var type = document.createElement("input");
      type.type = "hidden";
      type.name = "type";
      type.value = images_to_upload[i].type;

      // Append inputs to form
      form.appendChild(descr);
      form.appendChild(type);
    }
    form.submit();
    form.reset();
  }


  // Handles collapsing/expanding image grid
  function toggleGridCollapse()
  {
    var grid = document.getElementById("imageGrid");
    var collapseIcon = document.getElementById("collapseIcon");
    var expandIcon = document.getElementById("expandIcon");

    // Handle display of grid and icons
    if (grid.style.display != "none"){
      grid.style.display = "none";
      collapseIcon.style.display = "none";
      expandIcon.style.display = "block";
    }
    else{
      grid.style.display = "flex";
      collapseIcon.style.display="block";
      expandIcon.style.display="none";

    }
  }


</script>

<style>

  .upload-box{
    height: 80px;
    border-style: dashed;
    border-color: #999999;
    border-width: 2px;
  }

  .upload-box:hover{
    border-color: #222222;
  }

  .upload-box label:hover{
    color: #222222;
  }

  .upload-button{
    width: 0%;
    height: 0%;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
  }
  .upload-label{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    height:100%;
    width:100%;
  }

  .upload-label:hover{
    font-weight: bold;
  }

  .counter-box{
    display: flex;
    justify-content: center;
  }

  .counter-box p{
    font-size: 24px;
    letter-spacing: 0.2em;
  }

  .collapse-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
    font-size: 24px;
    margin: 8px;

  }

  .collapse-button:hover{
    cursor: pointer;
    filter: invert(100%);
  }

</style>


<div id="addFile" class="upload-box" ondrop="handleDragAndDrop(event)" ondragover="handleDragOver(event)">
        <form action="" id="inputForm" name="uploadForm" method="POST" enctype="multipart/form-data" style="width:100%; height:100%;">
            <input type="hidden" name="formName" value="uploadForm">
          <label for = "inputFile" class="upload-label"> <i class="fa fa-upload" style="margin: 4px;"> </i> Add files...</label>
          <input type="file" name="inputFile" id="inputFile" accept="image/*" multiple=50 onchange="handleUpload(this)" class="upload-button" value="">

               <div id="uploadOverlay" class="modal">

                <div id="uploadPanel" class="img-panel" style="width: 70%; height: 70%">
                  <div class="top-box">

                  <div id="imageContainer" class="img-container">

                  <div class="img-holder">

                     <div class="arrow-box" id="btnPrevUpload" onclick="prevUpload()" style="left:0;">
                        <i class="fa fa-angle-left"></i>
                     </div>

                    <img src = "" id="selectedImage">

                    <div class="arrow-box" onclick="nextUpload()" style="right:0;">
                      <i class="fa fa-angle-right" id="btnNextUpload"></i>
                    </div>

                  </div>


                  <div id="imageInfoContainer" class="img-info-container" style="display: flex; flex-direction: column; align-items: center; width:25%;">

                      <h3>Image Upload</h3>

                      <div id="imageCounter" class="counter-box">
                        <p id="numCurrent">0</p> <p>/</p> <p id="numTotal"> 0 </p>
                      </div>


                      <hr>

                      <div style="width:100%;">
                      <p>Description: </p>
                          <textarea id="imageDescription" maxlength="255" rows="8" style="width: 100%; resize: none;"></textarea>
                      </div>

                      <div style="width:100%;">
                      <p> Image Type: </p>
                      <select name="imageType" id="imageType" class="chosen-select" style="width:85%" onchange="handleImageType(imageType, uploadElement)">
                              {% for t in image_types %}
                                {% if t.image_type == 'Image' %}
                                    <option value="{{ t.id }}" selected="selected">{{ t.image_type }}</option>
                                {% else %}
                                    <option value="{{ t.id }}">{{ t.image_type }}</option>
                                {% endif %}
                              {% endfor %}
                      </select>

                        <div name="uploadElement" id="uploadElement" style="display: none;">
                          <h5>X-ray element</h5>
                              <select name="xRayElement" id="xRayElement" class="chosen-select" style="width: 85%">
                                {% for e in elements %}
                                  <option value="{{e.id}}">{{ e.symbol }}</option>

                                {% endfor %}
                              </select>
                        </div>

                      </div>



                      <hr>
                      <div id="actionButtons" style="display: flex; justify-content: flex-end; justify-self: flex-end; width:100%;">
                      <input type="button" value="OK" onclick="postUpload()" style="background-color:#444444; border-style: solid; color: #EAEAEA; width: 60px; height: 30px;">
                      <input type="reset" value="Cancel" onclick="clearUpload()" style="border-style: solid; color: #444444; background-color: #FAFAFA; width: 60px; height: 30px;">
                      </div>

                      </div>

                    </div>
                  </div>
                 </div>

                 </div>


        </form>

      </div>