<script>

    function handleImageType(selectedDiv, elementDiv){
        var selected =  selectedDiv.value;
        if (selected == XRAY_TYPE_ID) // id for x-ray
        {
            elementDiv.style = "display: block";
        }
        else{
            elementDiv.style = "display: none";
        }

        showModifiedLabel();
    }

    function showSavedLabel()
    {
        var label = document.getElementById("updatedLabel");
        label.innerHTML = "Saved";
        label.style = "display: block; color: #008000; margin-right: 20px";
    }

    function showModifiedLabel()
    {
        var label = document.getElementById("updatedLabel");
        label.innerHTML = "Changes not saved";
        label.style = "display: block; color: #FF7F50; margin-right: 20px";
    }

    function hideUpdatedLabel(){
        document.getElementById("updatedLabel").style = "display: none";
    }

    function saveUpdate(){
        if (currentImage < 0) return;
        images[currentImage].description = document.getElementById("imageDescriptionText").value;
        images[currentImage].type = document.getElementById("imageTypeSelect").value;

        showSavedLabel();
    }

$(document).ready(function() {
        document.getElementById("formUpdateImage").addEventListener("submit", function(event){
                event.preventDefault()

                var form = $("#formUpdateImage");
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: form.serialize(),
                    success: saveUpdate()
                });

         });
} );



</script>


<div class="modal" id="overlay" >

    <div class="img-panel" id="imagePanel">

      <div class="top-box" id="topBox">


        <div class="img-container" id="imageContainer">

          <div class="arrow-box" id="btnPrevImage" onclick="previousImage()" style="left:0;">
              <i class="fa fa-angle-left"></i>
          </div>

          <div class="img-holder" id="imgHolder">


            <img src = "" id="displayImage">

            <div class="arrow-box" onclick="nextImage()" style="right:0;">
                <i class="fa fa-angle-right" id="btnNextImage"></i>
            </div>

            <div class="control-box" style="bottom:0;" onclick="toggleFit()">
                <i class="fa fa-expand"></i>
            </div>

          </div>

            <div class="img-info-container">

              <div class="top-row">
                <i class="fa fa-window-close" onclick="overlay_off()"></i>
              </div>


              <form action="" name="formUpdateImage "id="formUpdateImage" method="POST" onsubmit="postImageUpdate()">
              <input type="hidden" name="formName" value="updateForm">
              <div id="imageTypeContent" class="imageTypeContainer">
                  <h4>Image Type </h4>
                    <select name="imageTypeSelect" id="imageTypeSelect" class="chosen-select" style="width:85%" onchange="handleImageType(imageTypeSelect, elementDiv)" {% if auth_token and not edit_permission %} disabled {% endif %}>
                              {% for t in image_types %}
                                <option value="{{ t.id }}">{{ t.image_type }}</option>
                              {% endfor %}
                    </select>
                  <div name="elementDiv" id="elementDiv" style="display: none;">
                  <h5>X-ray element</h5>
                      <select name="xRayElement" id="xRayElement" class="chosen-select" style="width: 85%" onchange="showModifiedLabel()" {% if auth_token and not edit_permission %} disabled {% endif %}>
                        {% for e in elements %}
                          <option value="{{e.id}}">{{ e.symbol }}</option>

                        {% endfor %}
                      </select>
                  </div>
              </div>

              <hr>

              <div id="imageDescription" class="imageTypeContainer">
                  <h4>Image Description</h4>
                  <textarea id="imageDescriptionText" maxlength="255" rows="8" onkeyup="showModifiedLabel()" style="width: 100%; resize: none;" {% if auth_token and not edit_permission %} disabled {% endif %}></textarea>
              </div>

                {% if auth_token and edit_permission %}
                  <div id="updateFormButtons" style="display:flex; justify-content: flex-end;">
                      <label id="updatedLabel" style="display: none; margin-right: 20px; color: #008000">Saved</label>
                      <input type="submit" value="Save changes" class="button-dark" style="width: auto;">
                      <input type="button" value="Reset" class="button-light" onclick="resetImageUpdate()">
                  </div>
               {% endif %}
              </form>


              <hr>
              <div class="img-info-comments-container" id="imgComments">
                <h4>Comments</h4>
              </div>

            </div>
        </div>

      </div>

    </div>

</div>
