{% extends "base.html" %}



{% block title %}

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/imageviewer.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/imageviewer.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">



<h4>
  Sample {{ sample.number }}
  <div style="height:0px;overflow:hidden">
   <input type="file" id="fileInput" name="fileInput" />
  </div>
  {% if sample.public_data %}<a id="imgUpload" style="float:right" onclick="chooseFile();" href="#">Add Image</a>{% endif %}
  <div style='float:right'> &nbsp; &nbsp; &nbsp; </div>


  {% if auth_token %}<span style="float:right"><a href="{{ url_for('edit_sample', id=sample.id) }}">Edit Sample</a></span>{% endif %}

</h4>
{% endblock %}


{% block body %}
<div class="table-responsive">
  <table id="sampleview_table" class="table">
    <tbody>
      <tr>
        <td class="sample_label">Owner</td>
        <td class="sample_value">{% if sample.owner %}{{ sample.owner }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Date Collected</td>
        <td class="sample_value">{% if sample.collection_date %}{{ sample.collection_date }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Public Data</td>
        <td class="sample_value">{% if sample.public_data %}Yes{% else %}No{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Rock Type</td>
        <td class="sample_value">{% if sample.rock_type %}{{ sample.rock_type }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Latitude</td>
        <td class="sample_value">{% if sample.latitude %}{{ sample.latitude }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Longitude</td>
        <td class="sample_value">{% if sample.longitude %}{{ sample.longitude }}{% endif %}</td>
      </tr>

      <tr>
        <td class="sample_label">Country</td>
        <td class="sample_value">{% if sample.country %}{{ sample.country }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Collector</td>
        <td class="sample_value">{% if sample.collector_name %}{{ sample.collector_name }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Present Location</td>
        <td class="sample_value">{% if sample.location_name %}{{ sample.location_name }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Regions</td>
        <td class="sample_value">{% if sample.regions %}{% for r in sample.regions %}{% if loop.index0 > 0 %}, {% endif %}{{ r }}{% endfor %}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Metamorphic Regions</td>
        <td class="sample_value">{% if sample.metamorphic_regions %}{% for r in sample.metamorphic_regions %}{% if loop.index0 > 0 %}, {% endif %}{{ r }}{% endfor %}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Metamorphic Grades</td>
        <td class="sample_value">{% if sample.metamorphic_grades %}{% for g in sample.metamorphic_grades %}{% if loop.index0 > 0 %}, {% endif %}{{ g }}{% endfor %}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Publication References</td> <!--  New Format  -->
        <td class="sample_value">
        {% if sample.references %}{% for r in sample.references %}
          {{ r }} 
        {% endfor %}{% endif %}
        </td>
      </tr>
      <tr>
        <td class="sample_label">Description</td>
        <td class="sample_value">{% if sample.description %}{{ sample.description }}{% endif %}</td>
      </tr>
      <tr>
        <td class="sample_label">Minerals</td>
        <td class="sample_value">{% if sample.minerals %}{% for m in sample.minerals %}{% if loop.index0 > 0 %}, {% endif %}{{ m }}{% endfor %}{% endif %}</td>
      </tr>
    </tbody>
  </table>
  <div id="map_canvas"></div>

</div>


<hr>


<script>

  var images_to_upload = Array();
  var currentUpload = 0;

  // Image Upload class
  function ImageUpload(image, description, type){
    this.image = image;
    this.description = description;
    this.type = type;
  }

  // Handles all the images selected by user
  function handleUpload(input)
  {

    if (input.files){

      for (var i = 0; i < input.files.length; ++i)
      {
        var reader = new FileReader();
        reader.onload = function(e){
          var newImage = new ImageUpload(e.target.result, "", 1);
          images_to_upload.push(newImage);
          selectImage(0);
        }
         reader.readAsDataURL(input.files[i]);
      }
    }

    uploadOn();

  }

  //Save current state of the image (used before changing images in the interface)
  function saveCurrentImage()
  {
    if (currentUpload < 0) return;
    images_to_upload[currentUpload].description = document.getElementById("imageDescription").value;
    images_to_upload[currentUpload].type = document.getElementById("imageType").value;
  }

  function selectImage(i){
    saveCurrentImage();
    currentUpload = i;
    setImageCounter();
    $('#selectedImage').attr('src', images_to_upload[currentUpload].image);
    $('#imageType').val(images_to_upload[currentUpload].type);
    $('#imageDescription').val(images_to_upload[currentUpload].description);
  }

  function prevUpload(){
    if (currentUpload - 1 < 0) {
      c = images_to_upload.length - 1;
    }
    else{
      c = currentUpload - 1;
    }
    selectImage(c);
  }

  function nextUpload(){
    c = (currentUpload+1) % images_to_upload.length;
    selectImage(c);
  }

  function setImageCounter(){
    document.getElementById("numTotal").innerHTML = images_to_upload.length;
    document.getElementById("numCurrent").innerHTML = currentUpload+1;
  }

  function uploadOn(){
      document.getElementById("uploadOverlay").style.display = "flex";
  }

  function uploadOff(){
    document.getElementById("uploadOverlay").style.display = "none";
  }

  // Clear elements if clicked "Cancel"
  function clearUpload(){
    uploadOff();
    images_to_upload = [];
  }

  //Checks all images, descriptions and types and post it to server
  // Create hidden inputs to POST image description and image type
  function postUpload()
  {
    var form = document.getElementById("inputForm");
    saveCurrentImage();  // Save last altered image
    for(var i = 0; i < images_to_upload.length; ++i)
    {
      var descr = document.createElement("input");
      descr.type="hidden";
      descr.name = "description";
      descr.value = images_to_upload[i].description;

      var type = document.createElement("input");
      type.type = "hidden";
      type.name = "type";
      type.value = images_to_upload[i].type;

      // Append inputs to form
      form.appendChild(descr);
      form.appendChild(type);
    }
    form.submit();
  }


</script>

<style>

  .upload-box{
    height: 80px;
    border-style: dashed;
    border-color: #999999;
    border-width: 2px;
  }

  .upload-box:hover{
    border-color: #222222;
  }

  .upload-box label:hover{
    color: #222222;
  }

  .upload-button{
    width: 0%;
    height: 0%;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
  }
  .upload-label{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    height:100%;
    width:100%;
  }

  .upload-label:hover{
    font-weight: bold;
  }

  .counter-box{
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 30px;
    background-color: #444444;
    border-style: groove;
    border-width: thin;
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }

  .counter-box p{
    color: #EAEAEA;
    font-size: 24px;
    letter-spacing: 0.2em;
  }

</style>

<div class="container">
  <h4>Sample Images {% if sample.images %}({{ sample.images|length }}) {% endif %}</h4>
    <div class="img-grid">

      {% if sample.images %} {%for image in sample.images %}
      <script>
        images.push({"url":"{{ image.image.full_size }}", "description": "{{ image.image_type.comments }}",
        "type": "{{ image.image_type.image_type }}" });
      </script>
        <div class="thumbnail" id="{{ loop.index-1 }}">
          <img src = "{{ image.image.full_size }}" style="width:100%; height:200px" class="sampleimg"
               onclick="overlay_on({{loop.index-1}})">
      </div>
      {% endfor %}
      {% endif %}

</div>

        <div id="addFile" class="upload-box">
        <form action="" id="inputForm" method="POST" enctype="multipart/form-data" style="width:100%; height:100%;">
          <label for = "inputFile" class="upload-label"> <i class="fa fa-upload" style="margin: 4px;"> </i> Add files...</label>
          <input type="file" name="inputFile" id="inputFile" multiple=50 onchange="handleUpload(this)" class="upload-button" value="">

               <div id="uploadOverlay" class="modal">

                <div id="uploadPanel" class="img-panel" style="width: 70%; height: 70%">
                  <div class="top-box">

                  <div id="imageContainer" class="img-container">




                  <div class="img-holder">

                     <div class="arrow-box" id="btnPrevUpload" onclick="prevUpload()" style="left:0;">
                        <i class="fa fa-angle-left"></i>
                     </div>

                    <img src = "" id="selectedImage">

                    <div id="imageCounter" class="counter-box">
                      <p id="numCurrent">0</p> <p>/</p> <p id="numTotal"> 0 </p>
                    </div>

                    <div class="arrow-box" onclick="nextUpload()" style="right:0;">
                      <i class="fa fa-angle-right" id="btnNextUpload"></i>
                    </div>

                  </div>




                  <div id="imageInfoContainer" class="img-info-container" style="display: flex; flex-direction: column; align-items: center; width:25%;">


                      <div style="width:100%;">
                      <p>Description: </p>
                      <input type="text" id="imageDescription" style="width: 85%;">
                      </div>

                      <div style="width:100%;">
                      <p> Image Type: </p>
                      <select name="imageType" id="imageType" class="chosen-select" style="width:85%">
                              <option value="1" selected="selected">Image Map</option>
                              <option value="2">X-Ray</option>
                      </select>
                      </div>

                      <hr>
                      <div id="actionButtons" style="display: flex; justify-content: flex-end; justify-self: flex-end; width:100%;">
                      <input type="button" value="OK" onclick="postUpload()" style="background-color:#444444; border-style: solid; color: #EAEAEA; width: 60px; height: 30px;">
                      <input type="reset" value="Cancel" onclick="clearUpload()" style="border-style: solid; color: #444444; background-color: #FAFAFA; width: 60px; height: 30px;">
                      </div>

                      </div>

                    </div>
                  </div>
                 </div>

                 </div>


        </form>

      </div>
  </div>




<div id="includeImageViewer"></div>

<hr>
<h4>Subsamples{% if auth_token %}<span style="float:right"><a href="{{ url_for('edit_subsample', id='new')}}?sample_id={{ sample.id }}">Add Subsample</a></span>{% endif %}</h4>
<div class="table-responsive">
  <table id="subsampletable_canvas">
    <thead>
      <tr>
        <th>Name</th>
        <th>Public</th>
        <th>Type</th>
        <th>Image Count</th>
        <th>Chemical Analysis Count</th>
        <th>Owner</th>
        <th>Image Map</th>
      </tr>
    </thead>
    <tbody>
      {% for subsample in subsamples %}
      <tr>
        <td id="img-popup"><a href="{{ url_for('subsample', id=subsample.id) }}">{{ subsample.name }}</a></td>
        <td>{{ subsample.public_data }}</td>
        <td>{{ subsample.subsample_type.name }}</td>
        <td>{{ subsample.images }}</td>
        <td>{{ subsample.chemical_analyses|length }}</td>
        <td><a href="{{ url_for('user', email=email) }}" target="_blank">{{ sample.owner.name }}</a></td>
        <td> -- </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCGEQBqKb2zbQdXuO8c9QNkvvkoL20eNw4"></script>

<script>

function chooseFile() {
      $("#fileInput").click();
}

$(document).ready(function()
{

});

$(window).load( function() {


});

var map_lat = {{ sample.latitude }}; 
var map_long = {{ sample.longitude }};  

var myCenter=new google.maps.LatLng(map_lat, map_long);
function initialize()
{
  var mapProp = {
    center:myCenter,
    zoom:8,
    mapTypeId:google.maps.MapTypeId.HYBRID
  };

  var map=new google.maps.Map(document.getElementById("map_canvas"), mapProp);
  var infowindow = new google.maps.InfoWindow();

  var marker=new google.maps.Marker({
    position:myCenter,
  });

  var content="latitude:"+map_lat+","+"longitude:"+map_long;

  makeInfoWindowEvent(map, infowindow, content, marker);
  marker.setMap(map);

  function makeInfoWindowEvent(map, infowindow, contentString, marker) {
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent(contentString);
      infowindow.open(map, marker);
    })
  };
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>


{% endblock %}
